<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Characters List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="list-content" *ngIf="items.length > 1">
  <ion-refresher [pullMax]="400" (ionRefresh)="refresh()">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <!-- TODO Use actual cards instead of buttons-->
    <button ion-item class="list-item" *ngFor="let item of items" (click)="itemTapped($event, item)">
        <div class="item-header">
          <img class="item-img" src="{{item.img}}">
        </div>

        <div class="item-main">
          <div class="item-name">
            <span class="name">{{item.name}}</span>
            <ion-icon class="favorite-icon" name="{{this.iconStar}}"></ion-icon>
          </div>
          <div class="item-infos">
            <span class="item-gender">{{item.gender}}</span>
            <span class="item-birth">{{item.birth_year}}</span>
          </div>
        </div>
        <div class="item-desc">
          <div class="item-films">
            <div class="film" *ngFor="let film of item.films">
              <span class="film-name">{{film}}</span>
            </div>
          </div>
        </div>
        <div class="item-footer">
          <div class="item-species">
            <ion-icon class="item-species-icon" name="{{item.icon}}"></ion-icon>
            <div class="item-species-name">
              {{item.species}}
            </div>
          </div>
          <div class="item-homeworld">
            <div class="item-homeworld-name">
              {{item.homeworld}}
            </div>
            <ion-icon class="planet-icon" name="planet"></ion-icon>
          </div>
        </div>
      </button>
  </ion-list>
</ion-content>

<div class="loading" *ngIf="items.length <= 1">
  <img src="./../../assets/imgs/loading-spinner.png"/>
</div>
