<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My First List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-content" *ngIf="items.length > 3">
  <ion-refresher [pullMax]="400" (ionRefresh)="refresh()">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
      <button ion-item class="list-item" *ngFor="let item of items" (click)="itemTapped($event, item)">
        <ion-icon name="{{item.icon}}" item-left></ion-icon>
        <div class="item-name">
          <span>{{item.name}}</span>
        </div>
        <div class="item-infos">
          <span class="item-gender">{{item.gender}}</span>
          <span class="item-birth">{{item.birth_year}}</span>
        </div>
        <div class="item-films">
          <div *ngFor="let film of item.films">
            <span>{{film}}</span>
          </div>
        </div>
        <div class="item-img">
          <img src="{{item.img}}">
        </div>
        <div class="item-species"></div>
        <div class="item-homeworld" item-right>
          {{item.homeworld}}
        </div>
      </button>
  </ion-list>
</ion-content>

<div class="loading" *ngIf="items.length <= 3">
  <img src="./../../assets/imgs/loading-spinner.png"/>
</div>
